.mapboxgl-popup {
  max-width: 100px;
}

.mapboxgl-popup img {
  width: 100%;
  margin-bottom: 5px;
}

.mapboxgl-popup h2 {
  color: black;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.mapboxgl-popup p {
  color: gray;
  margin-bottom: 0px;
  font-size: 12px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 5px!important;
}

.mapboxgl-popup-close-button {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-radius: 0 3px 0 0;
    cursor: pointer;
    background-color: transparent;
    font-weight: bolder;
  }
